<h1>Lista de compras</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Estoque mínimo</th>
      <th>Estoque atual</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.minimum_stock %></td>
        <td><%= product.stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>
