<p>
  <strong>Produto:</strong>
  <%= @transaction.product.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @transaction.transaction_type %>
</p>